body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 1.5em;
}

ul {
	margin: 0;
	padding: 0;
	line-height: 1.8em;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	line-height: 1.25em;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	margin: 0 0 50px;
}

h2 {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.15em;
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;
}

.seperator {
	margin: 0 auto;
	max-width: 250px;
	background-color: black;
	height: 15px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* ==================== Header ==================== */
header {
	background: linear-gradient(#4566b0, #0084ff);
}

#logo {
	max-width: 100%;
	padding: 50px 0;
}

nav ul {
	list-style-type: none;
	text-align: center;
	padding-bottom: 30px;
}

nav li {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	display: inline;
	margin: 0 25px;
}

	nav li:hover {
		color: white;
	}

/* ==================== Section A Propos ==================== */
#apropos {
	padding: 100px 0;
}

	#apropos p {
		margin: 50px 0;
	}

	#apropos img {
		width: 46%;
		float: left;
		padding: 0 6% 0 0;
	}

	#apropos ul {
		list-style-type: square;
		list-style-position: inside;
	}

	#apropos .seperator {
		margin-top: 100px;
	}

.aproposBack {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 40%;
}

/* ==================== Section Evenement ==================== */
#events {
	background-color: white;
	padding: 75px 0;
}

#menu .menulist {
	width: 50%;
	float: left;
}

#menu ul {
	list-style-type: circle;
	list-style-position: inside;
}

/* ==================== Section Contact ==================== */
#contact {
	padding: 100px 0 75px;
}

	#contact .contactbox {
		width: 45%;
		float: left;
		text-align: center;
	}

.contactbox + .contactbox {
	padding-left: 10%;
}

#contact .pointer {
	width: 50%;
	margin: 0 0 30px;
}

#contact .contactinfo {
	background: linear-gradient(#4566b0, #0084ff);
	padding: 0 0 30px;
}

	#contact .contactinfo img {
		width: 100%;
	}

/* ==================== Footer ==================== */
footer {
	background: linear-gradient(#4566b0, #0084ff);
	padding: 20px 0;
	text-align: center;
}


#bookSelector {
	height: 606px;
	width: 200px;
	float: left;
}

.plswork form {
	text-align: center;
}
